:root{
    --main-text-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
}
header.sticky{
    background: rgba(255, 255, 255, 1);
}
.logo{
    flex: 1;
    padding-top: 12px;
}
.menu{
    flex: 3;
    display: flex;
}
.menu>li{
    padding: 0 12px;
    position: relative;
}
.menu>li:hover .header_menu_sub{
    visibility: visible;
    top: 40px;
}
.header_menu_sub{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    font-size: 12px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.header_menu_sub  ul{
    padding-left: 20px;
}
.menu > li > a,
.header_menu_sub > li >a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20 px;
}
.others{
    flex:1;
    display: flex;
}
.others>li{
    padding: 0 12px;
    position: relative;
}
.others>li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others>li:last-child::after{
    display: none;
}
.others>li:first-child{
    position: relative;
}
.others>li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.others>li:first-child i{
    position: absolute;
    right: 10px;
}
.header_menu_link_3{
    color: crimson;
}
/* -----------------------------------------------------------------------------category ---------------------------------------------------------------------------  */
.row{
    display: flex;
    flex-wrap: wrap;
}
.category{
    padding: 100px 50px 0 50px;
}
.category-top{
    margin-bottom: 50px;
}
.category-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.category-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item{
    width: calc(25% - 12px);
    text-align:center;
    padding: 12px 0;
}
.category-right-content-item h1{
    font-size: 14px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #57585A;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.category-left ul li{
    padding: 12px 0;
}
.category-left ul li>a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.category-left ul li ul li{
    padding-left: 10px;
}
.category-left-li ul{
    display: none;
}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a{
    color: #333;
    font-size: 12px;
}
/* -----------------------------------------------------------------------------footer ---------------------------------------------------------------------------  */
.footer{
    border-top: 2px solid #000;
    overflow: hidden;
}
.footer-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app-google{
    margin: 50px;
}
.app-google img{
    height: 50px;
    cursor: pointer;
}
.footer-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.footer-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child::after a{
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}